<!-- 
    Launch file launches the realsense camera
-->

<launch>

    <!-- Launch rosbridge to connect ros topics with js for the webpage -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    </include>

    <!-- Launches the listener node using the listener.py executable from the 
    exp_mp package. Respawns node if quit and output is to terminal screen -->
    <node name="listener" pkg="exp_mp" type="listener.py" respawn="true" 
        output="screen"/>

</launch>